@model Blogger.WebUI.Models.CategoryUpdateViewModel;
@{
    ViewData["Title"] = "Update Category";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@*---Update Category Form---*@
<div class="mt-2">
    <h2>Kategori Güncelle</h2>

    <form asp-controller="Category" asp-action="Update" method="post">
        <div class="form-group">
            <label asp-for="@Model.Name"></label>
            <input asp-for="@Model.Name" class="form-control" />
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
        <input hidden asp-for="@Model.Id" />
        <button type="submit" class="btn btn-success btn-lg btn-block">Kategori Güncelle</button>
    </form>
</div>



