@model Blogger.WebUI.Models.AdminCategoriesViewModel;
@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<!--Admin Categories List-->
<div class="mt-2">
    <h2>Kategoriler</h2>
   
    <!--Add New Category-->
    <a class="btn btn-success mt-2" asp-controller="Category" asp-action="Add">Yeni Kategori Ekle</a>

    <!--Category DataTable-->
    <div class="mt-4">
        <table id="dataTable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Kategori Adı</th>
                    <th>Güncelle</th>
                    <th>Sil</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model.Categories)
                {
                    <tr>
                        <td>@category.Id</td>
                        <td>@category.Name</td>
                        <td><a class="btn btn-warning" asp-controller="Category" asp-action="Update" asp-route-categoryId="@category.Id">Güncelle</a></td>
                        <td><a class="btn btn-danger" asp-controller="Category" asp-action="Delete" asp-route-categoryId="@category.Id">Sil</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>