<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="admin-panel" />
    <meta name="author" content="multiple-author" />
    <title>Gençlerin Blogu - Admin Paneli</title>

    <!--Css Including-->
    <link href="~/AdminTemplate/dist/css/styles.css" rel="stylesheet" />
    <link href="~/ckeditor/highlight/styles/monokai-sublime.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/CalendarWidget/style.css" />
    <link rel="stylesheet" href="~/CalendarWidget/theme.css" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>

    <!--Max image size-->
    <style>
        img {
            max-width: 100%;
        }

        iframe {
            max-width: 100%;
        }
    </style>
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" asp-controller="Admin" asp-action="Index">Admin Paneli</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>

        <!-- Navbar-->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Menu</div>
                        <a class="nav-link" asp-controller="Admin" asp-action="Categories">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Kategoriler
                        </a>
                        <a class="nav-link" asp-controller="Admin" asp-action="Posts">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Paylaşımlar
                        </a>
                        <a class="nav-link" asp-controller="Admin" asp-action="Users">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Kullanıcılar
                        </a>
                        <a class="nav-link" asp-controller="Admin" asp-action="Bans">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Kısıtlamalar
                        </a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="nav-link" asp-controller="Admin" asp-action="Roles">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Roller
                            </a>
                        }
                        <a class="nav-link" asp-controller="Post" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Siteye Dön
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Şu an ki kullanıcı :</div>
                    @User.Identity.Name
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <!--Displaying Message-->
                @if (TempData["Message"] != null)
                {
                    <div class="container" style="margin-top:10px; text-align:center;">
                        @{
                            var classString = "alert alert-dismissible alert-" + TempData["MessageState"];
                            <div class="@classString" role="alert">@TempData["message"]</div>
                        }
                    </div>
                }
                <div class="container">
                    @RenderBody()
                </div>
            </main>
            <!--Footer-->
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Gençlerin Blogu 2021</div>
                        @*<div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>*@
                    </div>
                </div>
            </footer>
        </div>
    </div>

    @*---Scripts---*@
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="~/AdminTemplate/dist/assets/demo/datatables-demo.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/AdminTemplate/dist/js/scripts.js"></script>
    <script src="/ckeditor/highlight/highlight.pack.js"></script>
    <script>hljs.highlightAll()</script>
</body>
</html>
