@model Blogger.WebUI.Models.ForgotPasswordViewModel;
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "_LayoutAccount";
}

<div class="row justify-content-center">
    <div class="col-md-10">
        <h2>Şifremi Unuttum</h2>
        <br />
        <p>Geçici şifrenizi almak için lütfen kullanıcı adı ve email adresinizi giriniz.</p>

        <form asp-controller="Account" asp-action="ForgotPassword" method="post">
            <div class="form-group">
                <label>Kullanıcı Adı</label>
                <input type="text" asp-for="@Model.Username" class="form-control" />
                <span asp-validation-for="@Model.Username"></span>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" asp-for="@Model.Email" class="form-control" />
                <span asp-validation-for="@Model.Email"></span>
            </div>
            <button type="submit" class="btn btn-success">Doğrula</button>
        </form>
    </div>
</div>